<launch>
  <!-- Launch move_base and load all navigation parameters -->
  <include file="$(find piko_nav)/launch/move_base.launch" />
  
  <!-- Run the map server with a blank map -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find piko_nav)/maps/living_room.yaml" />

</launch>
